
h1 {
    text-align: center;
    background-color: black;
    color: white;
    font-family: arial;
    font-size: 24pt;
}
p1 {
    text-align: center;
    background-color: black;
    color: white;
    font-family: arial;
    font-size: 12pt;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body
{
 background-image: url(flame.jpeg);
 background-size: 100%;
 background-repeat: no-repeat;
}

a{
    background-color: black;
    color: red;
   
}

a:hover{
    background-color: white;
    color: red
   }